In [ ]:
CREATE TABLE demonstracoesContabeis (
    ID SERIAL PRIMARY KEY,
    DATA DATE,
    REG_ANS INT,
    CD_CONTA_CONTABIL INT,
    DESCRICAO VARCHAR(255),
    VL_SALDO_INICIAL MONEY,
    VL_SALDO_FINAL MONEY
);

### IMPORTAR DADOS DA TABELA 1T2023,2T2023 E 3T2023 NO QUAL O DELIMITADOR ENTRE AS COLUNAS Ã‰ ";" E DIZENDO QUE CADA COLUNA POSSUI UM HEADER QUE DEVE SER IGNORADO

In [ ]:
COPY demonstracoescontabeis from 'C:\\Users\\CLIENTE\Documents\1T2023.csv' delimiter ';' csv header
COPY demonstracoescontabeis from 'C:\\Users\\CLIENTE\Documents\2T2023.csv' delimiter ';' csv header
COPY demonstracoescontabeis from 'C:\\Users\\CLIENTE\Documents\3T2023.csv' delimiter ';' csv header